* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-header {
  align-items: center;
  background-color: rgb(20, 18, 22);
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  font-size: 1.10em;
}

.main-header a {
  color: white;
  margin: 0px 75px;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .main-header {
    justify-content: center;
  }

  .main-header a {
    margin: 20px;
  }
}

.hero {
  align-items: center;
  background-color: rgb(20, 18, 22);
  color: white;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  width: 100%;
}

.about-me {
  margin-bottom: 80px;
  text-align: center;
}

.hero a {
  text-decoration: none;
  color: white;
}

.welcome {
  font-size: 2.5em;
}

.about {
  font-size: 1.75em;
}

.orange {
  color: rgb(255, 195, 0);
}

.scroll-down {
  justify-self: flex-end;
}

.scroll-down img {
  width: 125px;
}

@media screen and (max-width: 900px) {
  .main-header {
    justify-content: center;
  }

  .main-header a {
    margin: 20px;
  }

  .welcome {
    font-size: 2em;
  }

  .about {
    font-size: 1.25em;
  }
}

.main-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.project-card {
  border: black solid 1px;
  margin-top: 20px;
  text-align: center;
}

.card-image {
  width: 350px;
}

.main-footer {
  background-color: rgb(20, 18, 22);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 80px;
  font-size: 1.10em;
}
