* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

.header-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020024;
  font-size: 1.5em;
  position: fixed;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-nav a {
  padding: 15px;
  color: white;
  text-decoration: none;
}


@media screen and (max-width: 1024px) {
  .header-container {
    font-size: 1.2em;
  }
}

main {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.hero {
  background: rgb(235,79,79);
  background: linear-gradient(0deg, rgba(235,79,79,1) 10%, rgba(2,0,36,1) 80%);
  color: white;
  width: 100%;
  height: 75vh;
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-me {
  width: 50%;
  padding: 20px;
  text-align: justify;
  text-justify: distribute;
}

.profile-pic {
  width: 275px;
  padding: 20px;
  border-radius: 150px;
}

.card-img {
  width: 225px;
}

@media screen and (min-width: 1025px) {
  .hero {
    justify-content: center;
  }
  
  .profile-pic {
    padding: 0;
  }

  .about-me {
    width: 40%;
    padding: 50px;
    text-align: justify;
    text-justify: distribute;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .profile {
    order: 1;
  }

  .about-me {
    order: 2;
  }

  .profile-pic {
    width: 200px;
    padding: 10px;
  }

  .about-me {
    width: 75%;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    padding: 20px; 
  }

  .about-me {
    width: 100%;
  }
}

.main-container {
  width: 100%;
  padding: 100px;
  /* background: rgb(2,0,36,1);
  background: linear-gradient(0deg, rgba(2,0,36,1) 10%, rgba(235,79,79) 80%); */
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 75vh;
}

hr {
  width: 10%;
  height: 4px;
  background-color: #2d3142;
  margin: 10px 0 50px 0;
}

.skill-container {
  display: flex;
}

.skill-card {
  /* background-color: rgba(235,79,79,1); */
  text-align: center;
  margin: 15px;
  box-shadow: 5px 5px 2px 0 gray;
  transition: 0.25s;
}

.span {
  background-color: lightgray;
  padding: 15px;
}

.skill-card:hover {
  box-shadow: 10px 10px 5px 5px gray;
}

@media screen and (max-width: 1024px) {
  .card-img {
    width: 150px;
  }
}

@media screen and (max-width: 700px) {
  .skill-container {
    flex-direction: column;
  }
}

main {
  background-color: #e5e5e5;
  flex: 1;
}

footer {
  background-color: lightgray;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(255,255,255,1) 70%); */
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}

.icon {
  width: 35px;
  margin: 5px;
}

@media screen and (max-width: 400px) {
  footer {
    font-size: 0.8em;
    justify-content: space-around;
  }
}
