body {
    margin: auto 0;
    background-color: #071E22;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #C80421;
    padding: 5px;
}

a {
    color: white;
}

h1 {
    text-align: left;
    padding-left: 5px;
}

p img {
    padding-right: 10px;
}

.linkedin {
    padding-top: 10px;
}

.main-container {
    display: flex;
}

.main-container img {
    padding-right: 5px;
    padding-left: 5px;
}

.main-container p {
    line-height: 25px;
    width: 500px;
}

#indice {
    padding-left: 5px;
}

#habilidades {
    padding-left: 5px;
}

footer {
    display: flex;
}

footer a {
    padding: 10px;
}